.header {
	max-width: 60rem;
	margin: auto;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
}

.list {
	display: flex;
	gap: 1rem;
}
.list button {
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 4px;
}
.list a {
	
	text-decoration: none;
	color: var(--color-primary-400);
}

.list a:hover,
.list button,
.list a.active {
	color: var(--color-primary-800);
}
